/* PAGINA PRODUCTO */

.producto-container {
    padding: 120px 10%;
    display: flex;
    gap: 150px;
    align-items: left;
}

/* imagen */
.producto-imagen {
    flex: 1;
}

.producto-imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* info */
.producto-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.producto-info h1 {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 30px;
}

.producto-info .precio {
    font-size: 35px;
    margin-bottom: 40px;
}

.descripcion {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 50px;
    color: #444;
}

/* talles */

.talles h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.talles button {
    padding: 36px 50px;
    margin-right: 15px;
    border: 1px solid black;
    background: white;
    font-family: GFS Didot, serif;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.talles button:hover {
    background: black;
    color: white;
}

.talles button.activo {
    background: black;
    color: white;
}

/* boton comprar */

.btn-comprar {
    margin-top: 60px;
    padding: 18px 40px;
    background: black;
    color: white;
    border: none;
    font-size: 50px;
    font-family: GFS Didot, serif;
    cursor: pointer;
    transition: opacity 0.3s ease;
    align-self: center;
}


.btn-comprar:hover {
    opacity: 0.8;
}

@media (orientation: portrait) {
    .producto-container {
        flex-direction: column;
        gap: 60px;
    }

    .producto-info h1 {
        font-size: 60px;
    }

    .producto-info .precio {
        font-size: 40px;
    }
}

footer {
    background: #f8f8f8;
    padding: 40px 10%;
    text-align: center;
    font-size: 30px;
    color: #555;
}
