* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1000;
}

.menu {
    margin-left: 410px;
}

.menu a {
    color: black;
    padding: 30px 20px;
    display: inline-block;
}

nav {
    display: flex;
}

#hero img {
    margin-top: 60px;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    font-family: GFS Didot, serif;
}

.logo img{
    width: 100%;
    height: 80px;
}

.coleccion {
    padding: 80px 10%;
}

.coleccion h2 {
    padding: 0;
    font-size: 28px;
    margin-bottom: 40px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
}

.info {
    margin-top: 10px;
}

.info h3 {
    font-size: 16px;
    font-weight: 500;
}

.precio {
    font-weight: bold;
    margin-top: 5px;
}


