* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: #f8f8f8;
    padding: 40px 10%;
    text-align: center;
    font-size: 30px;
    color: #555;
}

#hero img {
    width: 100%;
}

html {
    scroll-behavior: smooth;
    font-family: GFS Didot, serif;
}

.coleccion {
    padding: 80px 10%;
    padding-bottom: 200px;
}

.coleccion h2 {
    text-align: center;
    padding: 0;
    font-size: 50px;
    margin-bottom: 80px;
}

.grid-productos {
    display: grid;
    gap: 200px;
}

/* 📱 Pantalla vertical (celular) */
@media (orientation: portrait) {
    .grid-productos {
        grid-template-columns: 1fr;
    }
}

/* 🖥 Pantalla horizontal */
@media (orientation: landscape) {
    .grid-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
}

.info {
    margin-top: 10px;
}

.info h3 {
    font-size: 50px;
    font-weight: 500;
}

.precio {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}


