.card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
}

.precio {
    font-weight: bold;
}

.btn-comprar {
    margin-top: 60px;
    padding: 18px 40px;
    background: black;
    color: white;
    border: none;
    font-size: 50px;
    font-family: 'GFS Didot', serif;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.btn-comprar:hover {
    opacity: 0.8;
}
