#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 15s infinite, zoom 15s infinite;
}

.bg1 {
    background-image: url("../images/hero1.png");
    animation-delay: 0s;
}

.bg2 {
    background-image: url("../images/hero2.png");
    animation-delay: 5s;
}

.bg3 {
    background-image: url("../images/hero3.png");
    animation-delay: 10s;
}

.logo-container {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(2px);
    padding: 30px 50px;
    border-radius: 15px;
}
