footer {
    background: #f8f8f8;
    padding: 40px 10%;
    text-align: center;
    font-size: 30px;
    color: #555;
}

@media (max-width: 768px) {
    footer {
        font-size: 20px;
        padding: 20px 5%;
    }
}